{% extends 'base/base.html' %}

{% block content %}
    {% comment %}{'book': book, 'book_rating': book_rating, 'review_content': review_content,
                       'review_created_on': review_created_on,
                       'review_creator': review_creator}{% endcomment %}
    
    <div><h4>Book Details</h4></div>
    <hr>
    
    <div>
        <span class="text-info">Title: </span> <span>{{ book.title }}</span>
        <br>
        <span class="text-info"> Publisher: </span> <span>{{ book.publisher }}</span>
        <br>
        <span class="text-info">Publication Date: </span> <span>{{ book.publication_date }}</span>
        <br>
        {% if not reviews %}
            <hr>
            {% if user.is_authenticated %}
            <h3>Be the first one to write a review.</h3>
                {% else %}
                {% endif %}
            



      {% else %}
            <span class="text-info">Overall Rating: </span><span class="badge badge-primary badge-pill">{{ book_rating }}</span>
            <br>
            <hr>
    
    </div>
    <hr>
    
    <h4>Review Comments</h4>
    <ul>
            {% for review in reviews %}
                  <li class="list-group-item">
                        <span class="text-info">Review comment: </span> <span>{{ review.content }}</span>
                        <br>
                        <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
                        <br>
                        <span class="text-info">Modified on: </span><span>{{ review.date_edited }}</span>
                        <br>
                        <span class="text-info">Rating: </span><span class="badge badge-secondary badge-pill">{{ review.rating }}</span>
                        <br>
                        <span class="text-info">Creator: </span><span>{{ review.creator.username }}</span>

                        <br>
                  <a href="{% url 'review_edit' book.pk review.pk %}" class="btn btn-dark"> Edit Review</a>

                  </li>
            {% endfor %}
            </ul>
    
    {% endif %}
  <span>
  {% if user.is_authenticated %}
    
  <a href="{% url 'review_create' book.pk  %}" class="btn btn-primary"> Add Review</a>
  <a href="{% url 'book_media' book.pk  %}" class="btn btn-primary" >{% if book.cover %}Edit  cover{% else %} Add a cover {% endif %}</a>
      {% else %}
  {% endif %}
  
  </span>  
    <br>
     {% if book.cover %}
    
        <img src=" {{ book.cover.url }} "  alt="img">
    {% endif %}
    
    <br>
    
    {% if book.sample %}
        
        <span class="text-info" >SAMPLE</span>
        <span><a href="{{ book.sample.url }}">Download</a></span>
    
    {% endif %}
    
    
    
    
    
{% endblock %}