{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block brand %}<img class="navbar-brand" src="{% static 'reviews/biglogo.png' %}" alt='ee' >{% endblock %}


{% block content %}

    <!-- for the title -->
    {% block title %}
        {% if instance %}
            
            Editing {{ model_type }} "{{ instance }}"
        {% else %}
            New {{ model_type }}
            
        {% endif %}
    {% endblock %} 
    <!-- end of block title-->
    
    
    
    
    <!-- heading -->    
        <h2> 
            {% if instance  %}
                Editing {{ model_type }} <em> "{{ instance }}"</em>
            {% else %}
                New {{ model_type }}
            {% endif %}
        </h2>
    <!-- end heading -->
    
          <form method="post">
          
          
          {% csrf_token %}
          {{ book_form.as_p }}
          
          <button type="submit" class="btn btn-primary">
              
              {% if instance %}  
              Edit Book
              {% else %} 
                  Add Book
              {% endif %}
          </button>
          
          </form>
        
        
             
    <!-- end of/ form-->
    
    
{% endblock %}