{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block brand %}<img class="navbar-brand" src="{% static 'reviews/biglogo.png' %}" alt='ee' >{% endblock %}


{% block content %}

    <!-- for the title -->
    {% block title %}
        {% if instance %}
            
            Editing the cover page and sample of "{{ instance }}"
        {% else %}
            Adding a sample of {{ instance }} and its cover
            
        {% endif %}
    {% endblock %} 
    <!-- end of block title-->
    
    
    
   
    
          
        
        <!-- form -->
        <form method="post" enctype="multipart/form-data" >
        
        <!-- image  -->
        {% csrf_token %}
        
        
        {{ form.as_p }}

     
        
        <!-- button -->
        <button type="submit" class="btn btn-primary">
            {% if instance %}
                Save
            {% else %}
                create
            {% endif %}
        </button>
        </form>
             
    <!-- end of/ form-->
    
    
{% endblock %}